option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "cd server && npm start"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: server/public
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role 